# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =========================
# VIRTUAL ENVIRONMENTS
# =========================
venv/
.env/
.venv/

# =========================
# ENV FILES
# =========================
.env

# =========================
# DATABASES
# =========================
*.db
*.sqlite3

# =========================
# VECTOR DATABASES
# =========================
faiss_index/
*.faiss
*.pkl

# =========================
# DATA FILES
# =========================
data/
uploads/

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# STREAMLIT
# =========================
.streamlit/

# =========================
# LOGS
# =========================
*.log

# =========================
# VS CODE
# =========================
.vscode/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# DOCKER
# =========================
docker-compose.override.yml

# =========================
# TEST CACHE
# =========================
.pytest_cache/

# =========================
# BUILD FILES
# =========================
dist/
build/
*.egg-info/

# =========================
# MODEL FILES
# =========================
*.bin
*.pt
*.pth
*.onnx

# =========================
# CACHE
# =========================
.cache/
hf_cache/